
/*인증번호버튼*/
#addressBtn{
	padding: 5px 15px;
	background-color: #0aa4b5;
	color: white;
	border: 0;
	border-radius: 10px;
}

#addressBtn:hover {
    background-color: #0bc5da;
    transition-duration: 0.5s;
}